
<div>
  <%= link_to('New Recipe', new_recipe_path) %>
</div>

<div>
<% @recipes.each do |recipe| %>
<%= link_to(recipe.name, recipe) %>
      <li><%= recipe.course %> <%= recipe.cooktime %> <%= recipe.servingsize %> <%= recipe.instructions %></li>
      <!--  TODO: Add code to display ingredients!  -->
</div>

<% end %>
